@import "./linkin";

// Button Component
.btn {
    background-color: $blue;
    color: $white;
    text-transform: uppercase;
    @include Roboto(400, 17px);
    @include flex(flex, center, center);
    height: 4.3vh;
    max-height: 4.3vh;
    width: 14vw;
    max-width: 14vw;
    border-radius: 20px;
    box-shadow: none;
    outline: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

// Input
.input-form {
    @include flex(flex, space-between, flex-start, column);
    gap: 17px;
    label {
        @include Roboto(400, 15px);
        color: $black;
    }
    input {
        border: 1px solid $blue;
        max-height: 4.6vh;
        height: 4.6vh;
        max-width: 14vw;
        width: 14vw;
        border-radius: 7px;
        padding: 15px 11px;
        &:focus-visible {
            outline: none;
        }
        &::-webkit-input-placeholder {
        @include Roboto(400, 15px);
        color: $gray;
        }
    }
}
 
