div[open="Header"]{
    width:100vw;
    background:pink;
    height:12vh;
    max-height: 14vh;
    display:flex;
}


div[open="INROOT"]{
    width:100vw;
    background:rgb(146, 146, 146);
    height:auto;
    min-height: 40vh;
    display:flex;
}

div[open="Footer"]{
    background:pink;
    width:100vw;
    height:9vh;
    max-height: 14vh;
    display:flex;
}