@import '../../Assets/Style/linkin';

div[open="Header"] {
    width: 100vw;
    height: 12.25vh;
    max-height: 12.25vh;
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div[open="INROOT"] {
    width: 100vw;
    height: auto;
    display: flex;
}

div[open="Footer"] {
    background-color: $blue;
    width: 100vw;
    height: 7.5vh;
    max-height: 7.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
